*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
body{
   background-color:#E5E5E5;
   font-family: 'Poppins', sans-serif;
}
.container{
   background-color: #ffff;
}
nav{
   background-color: #fffafae5 !important;
   border-bottom:solid 2px #3F87F5;
   box-shadow: -35px -28px 27px 38px #5d6266c7;
}
.row>* {
   flex-shrink: 0;
   /* width: 100%; */
   max-width: 100%;
   padding-right: calc(var(--bs-gutter-x) * .5);
   padding-left: calc(var(--bs-gutter-x) * .5);
   margin-top: var(--bs-gutter-y);
}
/* .show{
   position: absolute;
   top: 92%;
   left: 0%;
   background: #fff;
   width: 100%;
   padding-left: 16%;
} */
#slider_img{
   width: 100%;
   height:auto;
   background-color: rgba(0, 0, 0, 0.747) !important;
}
ul{
   padding: 0px;
}
ul li{
   list-style: none;
}
ul li p{
   display: inline-block;
}
ul li i {
   font-size: 20px;
   color: rgb(13, 163, 38);
}
#special{
   position: relative;
}
#special_offer{
   position: absolute;
   top: -23%;
   right: 3%;
}
#special_offer p{
   background-color: crimson;
   padding:  1px 1rem;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}
#rounded{
   border-radius: .8rem;
   -webkit-border-radius: .8rem;
   -moz-border-radius: .8rem;
   -ms-border-radius: .8rem;
   -o-border-radius: .8rem;
}
#apps{
   width: 200px;
   height: auto;
}
#alert{
   position: fixed;
   top: 50%;
   right: 5%;
   z-index: 11;
   width: 292px;;
   height: auto;
}
/*  */
@media only screen and (max-width:300px) {
   #alert{
      width: 90%;
      height: auto;
   }
   #footer_rs{
      display: none;
   }
}
@media only screen and (max-width:395px) {
   
   #footer_rs{
      display: none;
   }
}
@media only screen and (max-width:575px) {
   #footer_rs{
      width: 50%;
   }
}